{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTDTECHNOLOGIES</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="pictures/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'previousyearinformation.css' %}">
</head>
<body>
<div class="overall">
    <div class="header">
            <div>

            </div>
            <div class="header-title">
                <a><h1>thehtdtechnologies.com</h1></a>
               
            </div>
            <div>   
            </div>    
    </div>

<nav class="navbar1">
    <nav class="navbar2">
        <ul >
        
            <li >
                <a href="/">
                <i class="fa fa-home"></i> HOME
                </a> 
            </li>
       
        
        
            <li>
                <a href="{% url 'admissionguidelines' %}">
                <i class="fa fa-archive"></i>ADMISSION GUIDELINES
                </a>
            </li>
        

            <li >
                <a href="https://thehdtechnologies.com/jnj/jnj.aspx" target="_blank">
                <i class="fa-solid fa-graduation-cap"></i> COLLEGE LOGIN </i>
            </a>
        </li>

     

        <li class="blong">
            <a href="#">
                <i class="fa-solid fa-bell"></i> PREVIOUS YEAR INFORMATION
            </a>
        </li> 

        <li>
            <a href="#">
                <i class="fa-solid fa-certificate"></i> COURSE KNOWLEDGE
            </a>
        </li>

        <li>
            <a href="{% url 'contact' %}">
                <i class="fa-solid fa-user"></i> CONTACT US <i class="fa-duotone fa-solid fa-caret-down"></i>
            </a>
        </li>

      

    </ul>



    </nav>
</nav>



<div>

    <marquee behavior="scroll" direction="left" scrollamount="10" id="scrolling-text">
        <b>
   ## CLICK HERE TO APPLY FOR <a href="https://apps.thehdtechnologies.com/mbbsbds/home.aspx" target="_blank"> MBBS </a> ##
</b>
    </marquee>

</div>

 <!-- Form for selecting academic year -->

 <form method="POST" action="">
    {% csrf_token %}
    <label for="year"><h3 style="padding-left:15px;">Select Academic Year:</h3></label>
    <select name="year" id="selection" onchange="this.form.submit()">

        {% for year in years %}
    <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>{{ year }}</option>
  {% endfor %}

        
        
    </select>
</form>



<div class="pdf-download">
    <a href="#"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a> -- Download
</div>


<div>
 

    <table class="archive-table" id="table1">
        <thead>
            <tr>
                <th>SL.NO</th>
                <th>SESSION</th>
                <th>COURSE</th>
                <th>PROSPECTUS</th>
                <th>MERIT LIST</th>
                <th>SCHEDULE</th>
                <th>ALLOTTED LIST </th>
                <th>AMENDMENTS</th>
                <th>CUT OFF</th>
            </tr>
        </thead>

        <tbody>

            {% for data in datas %}
            <tr>
                <td>{{data.serialno}}</td>
                <td>{{data.session}}</td>
                <td>{{data.course}}</td>

                <!--   PROSPECTUS   -->

                <td >
                    {% if data.prospectus %}
                        <a href="{{ data.prospectus }}" class="center" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>



                 <!--   MERIT LIST   -->

                 <td >
                    {% if data.meritlist %}
                        <a href="{{ data.meritlist }}" class="center" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>



                 <!--   SCHEDULE   -->

                 <td >
                    {% if data.schedule %}
                        <a href="{{ data.schedule }}" class="center" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>




                 <!--   ALLOTTED LIST   -->

                 <td >
                    {% if data.allottedlist %}
                        <a href="{{ data.allottedlist }}" class="center" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>




                 <!--   AMENDMENTS   -->

                 <td >
                    {% if data.amendments %}
                        <a href="{{ data.amendments}}" class="center" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>




                 <!--   CUT OFF   -->

                 <td >
                    {% if data.cutoff %}
                        <a href="{{ data.cutoff }}" class="center" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>


            </tr>

            {% endfor %}

        </tbody>
        
        
    </table>

</div>


{% comment %} <td class="center"> <a href="#" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a></td>
<td></td>
<td class="center"> <a href="#" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a></td>
<td></td>
<td></td>
<td></td> {% endcomment %}



<footer>
    <p>Copyright © 2024 - thehtdtechnologies.com - All Rights Reserved</p>
            <p>Designed and Hosted by <a href="/" >thehtdtechnologies.com</a></p>

</footer>



</div>

<script>


    <!-- use JAVASCRIPT code here....!-->

  


const marquee= document.getElementById("scrolling-text")

marquee.addEventListener('mouseover',() =>{
marquee.stop();
})

marquee.addEventListener('mouseout',() =>{
marquee.start();
})



</script>




</body>
</html>












<!--  FAILURE BY CREATING ALL IN ONE TABLE   -->


  
{% comment %} <form id="yearForm" method="GET" action="" >
    <h3>Select Academic Year </h3>
    <select name="year" id="selection" onchange="document.getElementById('yearForm').submit()"  >
        <option value="2023 - 2024" {% if selected_year == '2023 - 2024' %}selected{% endif %}>2023 - 2024</option>
        <option value="2022 - 2023" {% if selected_year == '2022 - 2023' %}selected{% endif %}>2022 - 2023</option>
        <option value="2021 - 2022" {% if selected_year == '2021 - 2022' %}selected{% endif %}>2021 - 2022</option>
        <option value="2020 - 2021" {% if selected_year == '2020 - 2021' %}selected{% endif %}>2020 - 2021</option>
    </select>
</form>



<div class="pdf-download">
    <a href="#"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a> -- Download
</div>


<div>
 

    <table class="archive-table" id="table1">
        <thead>
            <tr>
                <th>SL.NO</th>
                <th>SESSION</th>
                <th>COURSE</th>
                <th>PROSPECTUS</th>
                <th>MERIT LIST</th>
                <th>SCHEDULE</th>
                <th>ALLOTTED LIST </th>
                <th>AMENDMENTS</th>
                <th>CUT OFF</th>
            </tr>
        </thead>
        <tbody>
            {% for info in infos %}
            <tr>
                <td>{{info.sno}}</td>
                <td>{{info.session}}</td>
                <td>{{info.course}}</td>

                <!--   PROSPECTUS   -->

                <td >
                    {% if info.prospectus %}
                        <a href="{{ info.prospectus.url }}" class="center"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>



                 <!--   MERIT LIST   -->

                 <td >
                    {% if info.meritlist %}
                        <a href="{{ info.meritlist.url }}" class="center"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>



                 <!--   SCHEDULE   -->

                 <td >
                    {% if info.schedule %}
                        <a href="{{ info.schedule.url }}" class="center"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>




                 <!--   ALLOTTED LIST   -->

                 <td >
                    {% if info.allottedlist %}
                        <a href="{{ info.allottedlist.url }}" class="center"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>




                 <!--   AMENDMENTS   -->

                 <td >
                    {% if info.amendments %}
                        <a href="{{ info.amendments.url }}" class="center"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>




                 <!--   CUT OFF   -->

                 <td >
                    {% if info.cutoff %}
                        <a href="{{ info.cutoff.url }}" class="center"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>


            </tr>


            {% empty %}
            <tr>
                <td colspan="12" >No details available</td>
            </tr>

            {% endfor %}
            
        </tbody>
        
    </table>

</div> {% endcomment %}


{% comment %} <td class="center"> <a href="#" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a></td>
<td></td>
<td class="center"> <a href="#" target="_blank"><img src="{% static 'pictures/pdf.png' %}" width="30" height="30"></a></td>
<td></td>
<td></td>
<td></td> {% endcomment %}


